@import '../../../assets/styles/variables';

.Books {
    .books-section {
        padding: 4rem 0 !important;
    }

    .details {
        margin: 2rem;
    }
    &__segments {
        border: none !important;
        // box-shadow: none !important;
        // background: none !important;
    }
}
