@import '../../assets/styles/variables';

.NavBar {
    .links {
        min-width: 30rem;
        width: auto;
        .link {
            color: $primary_black;
            font-size: medium;
            padding: 0 0.6rem;
            &:hover {
                font-weight: lighter;
            }
        }
    }
    label {
        margin-right: 10px;
    }
    
    @media only screen and (max-width: 425px){
        .nav-items {
            flex-direction: column;
            margin: 1rem auto;
            .logo {
                margin: 1rem auto;
            }
            .links {
                justify-content: center;
            }
        }
    }
}
