@import '../../assets/styles/variables';

.NavBar {
    .links {
        min-width: 30rem;
        width: auto;
        .link {
            color: $primary_black;
            font-size: medium;
            padding: 0 0.6rem;
            &:hover {
                font-weight: bold;
            }
        }
    }
    label {
        margin-right: 10px;
    }
}
