@import '../../assets/styles/variables';

.LoginForm{
    &__showOrHidePassword {
        position: absolute;
        right: 2rem;
        top: 5.5rem;
        z-index: 2;
        cursor:pointer;
        transition:all 0.5s ease;
        color:$login_color;
    }
}
