$primary_color: #53FDBC;
$primary_font: Roboto;
$login_color: #888888;
$primary_grey: #DDE2E5;
$secondary_grey: #777777;
$primary_black: #333333;
$primary_white: #FFFFFF;
$primary_red: #eb211a;
$darker_red: rgb(216, 23, 17);
